<div class="login-wrapper">
    <form class="login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            Repo Visualizer
            <h5 class="hint">
                Use your github credentials in order to sign in
                <a href="javascript:;" role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm tooltip-left">
                    <clr-icon shape="info-circle" size="24"></clr-icon>
                    <span class="tooltip-content">Look at the .env file in the server for the valid credentials</span>
                </a>
            </h5>
        </section>
        <div class="login-group">
            <clr-input-container>
                <input type="text" formControlName="username" clrInput placeholder="Username" />
            </clr-input-container>
            <clr-password-container>
                <input type="password" formControlName="password" clrPassword placeholder="Password" />
            </clr-password-container>
            <div class="error active" *ngIf="loginFailed">
                Invalid user name or password
            </div>
            <button type="submit" class="btn btn-primary">NEXT</button>
        </div>
    </form>
</div>