<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <span class="title">{{ title }}</span>
    </div>
    <div class="header-nav">
      <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" routerLink="/" class="nav-link nav-text">Home</a>
      <a [routerLinkActive]="['active']" routerLink="/repos" class="nav-link nav-text" *ngIf="jwtService.loggedIn">Repos</a>
    </div>
    <div class="header-actions">
      <clr-dropdown *ngIf="jwtService.loggedIn; else elseBlock">
          <button class="nav-icon" clrDropdownTrigger>
              <clr-icon shape="cog"></clr-icon>
              <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
              <a (click)="logout()" clrDropdownItem>Log out</a>
          </clr-dropdown-menu>
      </clr-dropdown>
      <ng-template #elseBlock>
        <a routerLink="/login" class="nav-link">
          <span class="nav-text">Login</span>
        </a>
      </ng-template>
    </div>
  </header>
  <div class="content-container">
      <router-outlet></router-outlet>
  </div>
</div>